.modal-urls {
  background: white;
  margin: 200px 300px 0px 300px;
}

.alert {
  margin-top: 10px;
  border-radius: 3px;
  line-height: 1.45em;
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: white;
    vertical-align: middle;
  }

  .menu {
    background: #2c3840;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: white;
      transition: color 0.15s ease-in;
      padding-top: 10px;

      &:hover {
        color: lighten(#2c3840, 60%);
      }
    }
  }
}

